.card {
  border: 1px solid var(--shadow-color);
  box-shadow: 0 1px 0.625rem var(--shadow-color);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 18.75rem;
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 0.825rem;
  align-items: center;
  padding: 1.5rem;
  
  &:hover {
    color: var(--background);
    background: var(--foreground);
    .button {
      color: var(--foreground);
      background-color: var(--background);
    }    
  }
  text-decoration: none;
  color: inherit; 

}

.button{
  display: flex;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--background);
  background-color: var(--foreground);
  border:1px solid var(--foreground);
}

.name {
  font-size:1.25rem;
  font-weight: bold;
}

.followers {
  appearance: none;
  font-size: 0.8rem;
  color: inherit; 
}

.image{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: var(--background);
  border:1px solid var(--foreground);
  font-weight: bolder;
}

