
.header {
  // background-color: var(--background);
  // color: var(--foreground);

  position: sticky;
  top: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  // :global(body.dark) & {
  //   background-color: var(--background-dark);
  //   color: var(--text-dark);
  // }
}

.button{
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  color: var(--background);
  background-color: var(--foreground);
  border:1px solid var(--foreground);
  &:hover {
    color: var(--foreground);
    background: var(--background);
  }
}

.logo{
  display: flex;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  color: var(--background);
  background-color: var(--foreground);
  border:1px solid var(--foreground);
  font-weight: bolder;
  &:hover {
    color: var(--foreground);
    background: var(--background);
  }
}