.container {
  background-color: var(--background-light);
  color: var(--text-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px); // Adjust based on your header height
  :global(body.dark-mode) & {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}

.box {

  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 24px;
  background-color: var(--background-light);
  color: var(--text-light);

  :global(body.dark-mode) & {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}