.card {
    border: 1px solid var(--shadow-color);
    box-shadow: 0 1px 0.625rem var(--shadow-color);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 18.75rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;

    .imageContainer {
        position: relative;
        width: 100%;
        height: 12.5rem;
    }
    .loader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    }

    .buttonRow {
        display: flex;
        padding-top: 1.25rem;
        .button {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0.5rem;
            padding: 0px 0.5rem;
            .icon {
                margin-right: 0.5rem;
            }
            &:hover .icon {
                color: #0070f3;
            }
        }
    }

    .text {
        padding: 0.5rem;
        font-size: 0.75rem;
        line-height: 1.5; 
        overflow: hidden; 
        text-overflow: ellipsis;
        display: -webkit-box; 
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
}
