.card {
  border: 1px solid var(--shadow-color);
  box-shadow: 0 1px 0.625rem var(--shadow-color);
  border-radius: 0.5rem;
  margin: 1rem 0px;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Increased gap between elements */
  align-items: center;
  padding: 1.5rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.625rem; /* Increased height */
  border: 1px solid #ccc; /* Default border */
  border-radius: 0.5rem; /* Rounded corners */
  
  &:focus {
    outline: none; /* Remove default focus outline */
    border-color: var(--foreground); /* Change border color on focus */
    box-shadow: 0 0 5px var(--foreground); /* Add shadow on focus */
  }
}

.button {
  display: flex;
  padding: 0.75rem; /* Increased padding for better height */
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--background);
  background-color: var(--foreground);
  border: 1px solid var(--foreground);
  justify-content: center;
  font-weight: bold;
  &:hover {
    color: var(--foreground);
    background-color: var(--background);
  }
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

.followers {
  appearance: none;
  font-size: 0.8rem;
}

.toggleText {
   color: var(--foreground); // Use appropriate styling for toggle text
   font-size: small; /* Smaller text for terms */
   margin-left: .25rem; /* Gap between checkbox and text */
}

.checkboxContainer {
   display: flex; 
   align-items: center; 
   margin-top: auto; /* Align to the bottom of the card */
}