.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: calc(25% - 1rem);
  padding: 1.5rem;
  display: flex;
  gap: 0.825rem;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--background);
  &:hover {
    color: var(--background);
    background: var(--foreground);
    .button {
      color: var(--foreground);
      background-color: var(--background);
    }    
    .image{
      color: var(--background);
      background: var(--foreground);
      border:1px solid var(--background);  
    }
    .altimage{
      color: var(--background);
      background: var(--foreground);
      border:1px solid var(--background);  
    }
  }
}

.button{
  appearance: none;
  display: flex;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--background);
  background-color: var(--foreground);
  border:1px solid var(--foreground);
}

.name {
  font-size:0.825rem;
  font-weight: bold;
}

.followers {
  appearance: none;
  font-size: 0.8rem;
  color: inherit; 
}


.image{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: var(--background);
  border:1px solid var(--foreground);
  font-weight: bolder;
}

.altimage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  // color: var(--background);
  border:1px solid var(--foreground);
  font-weight: bolder;
}
