.main {
  // to show everything in the middle, this might cause problem with the influencer page
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-light);
  color: var(--text-light);
  overflow-y: auto;
  margin-top: 5rem;
  height: calc(100vh - 6rem);
    
  @media (max-width: 1600px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 1601px) {
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
  }
}
