.main {
   width: 100%;
   @media (max-width: 1600px) {
       width: 100%;
       margin-left: 0;
       margin-right: 0;
   }
   @media (min-width: 1601px) {
       max-width: 1200px; 
       margin-left: auto;
       margin-right: auto;
   }
 }
 
 .grid {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
 }
 
 .card {
   aspect-ratio: 1;
   flex: calc(25% - 1rem);
   padding: 1.5rem;
   display: flex;
   gap: 0.825rem;
   flex-direction: column;
   justify-content: space-evenly; 
   align-items: center;
   border-radius: 0.5rem;
   background-color: var(--background);
   border:1px solid var(--foreground);
   position: relative; /* Position relative for Image component */
   overflow: hidden; /* Hide overflow to crop image */

   &:hover {
     color: var(--background);
     background: var(--foreground);
     .button {
       color: var(--foreground);
       background-color: var(--background);
     }    
     .image{
       color: var(--background);
       background: var(--foreground);
       border:1px solid var(--background);  
     }
     .altimage{
       color: var(--background);
       background: var(--foreground);
       border:1px solid var(--background);  
     }
   }
 }
 

 .container {
   display: flex;
   justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */
   height: 100vh; /* Full viewport height */
 }
 
 .imageWrapper {
   width: 200px; /* Set width */
   height: 200px; /* Set height */
   position: relative; /* Position relative for Image component */
   overflow: hidden; /* Hide overflow to crop image */
 }