:root {
  --background-light: #ffffff;
  --text-light: #212020;
  --background-dark: #212020;
  --text-dark: #ffffff;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode body {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
