  .button {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.2rem;

    transition: background-color 0.3s, color 0.3s;
  
    color: var(--background-light);
    background-color: var(--text-light);
  
    :global(body.dark-mode) & {
      color: var(--background-dark);
      background-color: var(--text-dark);
    }    
  }
