
.button{
  display: flex;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--background);
  background-color: var(--foreground);
  border:1px solid var(--foreground);
  &:hover {
      color: var(--foreground);
      background-color: var(--background);
  }
}


